{% extends 'main/layout.html' %}

{% block title %}
    <title>Первая страница на {{caption}}</title>
{% endblock %}

{% block content %}

<h3>Изучение Django: Введение в веб-разработку</h3>

<p>Django — это мощный фреймворк для разработки веб-приложений на языке Python. Он позволяет создавать сложные и масштабируемые проекты
    с минимальными усилиями благодаря своему удобному и модульному подходу. В этой странице мы рассмотрим основные аспекты работы с Django.</p>

<h4>Что такое {{caption}}?</h4>

<p>Django был создан с целью упростить разработку веб-приложений, обеспечивая высокую степень повторного использования кода.
    Он следует принципу "не повторяй себя" (DRY), что позволяет разработчикам быстро создавать новые функции и улучшать существующие.</p>

<h4>Преимущества Django:</h4>

<p>Быстрое создание прототипов. Благодаря встроенным инструментам и библиотекам вы можете быстро создать рабочий прототип приложения.</p>

<p>Безопасность. Django предлагает множество функций безопасности, включая защиту от SQL-инъекций, кросс-сайтового скриптинга (XSS) и
    подделки межсайтовых запросов (CSRF).</p>

<p>Гибкость. Фреймворк легко адаптируется к различным требованиям, что делает его идеальным для проектов любого масштаба.</p>

<h4>Начало работы с Django</h4>

<p>Чтобы начать, установите Django с помощью pip. Затем создайте новый проект с помощью команды django-admin startproject myproject.
    В следующем разделе мы подробнее рассмотрим создание приложений, настройку баз данных и маршрутизацию URL.</p>

<h4>Заключение</h4>

<p>Изучение Django — это увлекательный процесс, который откроет перед вами новые горизонты в веб-разработке. Начните свой путь в мир Django уже сегодня!</p>


{% endblock %}