{% extends 'base.html' %}

{% block title %}Немецкая овчарка{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Немецкая овчарка</h1>
    <img src="{% static 'images/HW31/german_shepherd.jpg' %}" class="img-fluid" alt="Немецкая овчарка">
    <p>Немецкая овчарка — это умная, преданная и универсальная порода. Эти собаки отлично подходят для работы в полиции, спасательных службах и как верные компаньоны. Они требуют много физической и умственной нагрузки.</p>
</div>
{% endblock %}
