<div class="list-group">
    <a href="{% url 'main_page' %}" class="list-group-item list-group-item-action">Главная</a>
    <a href="{% url 'first_breed' %}" class="list-group-item list-group-item-action">Порода 1: Хаски</a>
    <a href="{% url 'second_breed' %}" class="list-group-item list-group-item-action">Порода 2: Немецкая овчарка</a>
    <a href="{% url 'third_breed' %}" class="list-group-item list-group-item-action">Порода 3: Лабрадор</a>
    <a href="{% url 'fourth_breed' %}" class="list-group-item list-group-item-action">Порода 4: Шпиц</a>
</div>
